<div class="span3 offset1">
  <fieldset>
    <legend>Log In</legend>
    <%= form_tag session_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Log in", :class => "btn" %>
    <% end %>
  </fieldset>

  Not a client of New Leaf yet?<br>
  <%= link_to "Sign up here!", signup_path %>
</div>
