<div class="span5">
  <fieldset>
    <% if request.fullpath == signup_path %>
      <legend>Sign Up</legend>
    <% else %>
      <legend>Edit Your Info</legend>
    <% end %>

    <%= form_for @user do |f| %>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <div class="controls controls-row">
        <%= f.text_field :first_name, :class => "input span2", :placeholder => "First name" %>
        <%= f.text_field :last_name, :class => "input span3", :placeholder => "Last name" %>
      </div>

      <div class="controls controls-row">
        <%= f.text_field :email, :class => "input span3", :placeholder => "Email" %>
        <%= f.text_field :phone, :class => "input span2", :placeholder => "Cell phone" %>
        <p id="cell-waiver">*Please note, I require your cell phone number to send text messages to remind you of appointments a few hours prior.</p>
      </div>

      <% if request.fullpath == signup_path %>
        <div class="controls controls-row">
          <%= f.password_field :password, :class => "input span2", :placeholder => "Password" %>
          <%= f.password_field :password_confirmation, :class => "input span3", :placeholder => "Password confirmation" %>
        </div>
        <%= f.submit "Sign up!", :class => "btn" %>
      <% else %>
        <%= f.submit "Submit", :class => "btn" %>
      <% end %>
    <% end %>
  </fieldset>
</div>